img {
    margin: auto;
    display: block;
}

.image-container {
    width: 100%;
}


.mid-container {
    text-align: center;
    background-color: rgb(238, 238, 238);
    width: 90%;
    margin:auto;
    margin-bottom: 2px;
}

.b1 {
    background-color: rgb(126, 229, 218);
 
    margin-right: 2px;
    width: 100%;

}

.b2 {
    background-color: rgb(112, 204, 194);

    margin-right: 2px;
    width: 100%;
}

.b3 {
    background-color: rgb(98, 179, 170);
   width: 100%;

}

.bottom-container {
    text-align: center;
    width: 90%;
    margin:auto;
    margin-bottom: 10px;
    display: flex;

}
footer{
    font-size:small ;
    text-align: center;
}
